#copyButton, #helpMessage, .help-heading {
    -fx-text-fill: white;
}

.help-heading, .footer-label {
    -fx-text-fill: white;
}

.help-heading {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#helpMessage {
    -fx-control-inner-background: derive(#1d1d1d, 10%);
    -fx-font-family: monospace;
    -fx-font-size: 12px;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
